@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Public+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

main {
    position: relative;
}

header {
    width: 100%;
}

nav, .top-line-nav, .location-field, .mobile-icons, .icons, .cart, .nav-main, .nav-left, .search-field, .navbar {
    display: flex;
}

nav, .nav-main, .top-line-nav {
    justify-content: space-between;
}

.location-field, nav, .top-line-nav, .mobile-icons, .icons, .cart, .nav-main, .nav-left, .search-field {
    align-items: center;
}

.top-line-nav, .navbar, .search-field, .close-menu {
    display: none;
}

a {
    text-decoration: none;
}

.top-line-nav {
    padding-left: 1em;
    font-size: 14px;
}

.flag-icon {
    font-size: 23px;
}

.english-abbr {
    margin: 0;
    padding-left: 0.7em;
}

.icons {
    height: 32px;
}

.icons span {
    padding: 0 0.7em;
}

.cart {
    background-color: #B81830;
    height: 100%;
    padding: 0 0.2em;
    justify-content: space-evenly;
    width: 35px;
}

.cart i {
    padding: 0 0.2em 0 0;
}

nav {
    width: 100%;
    border: 2px;
    box-shadow: 0px 3px 3px #D0D0D0;
    font-weight: 600;
    font-size: 16px;
}

.nav-main {
    width: 100%;
}

.location-field, .nav-left {
    justify-content: flex-start;
}

.hamburger-box {
    padding: 0.7em;
}

.hamburger-menu, .hamburger-menu-dropdown {
    width: 100%;
    height: 100vh;
    background-color: white;
    margin: 0;
    padding: 0;
    pointer-events: auto;
    position: absolute;
    left: 0;
    top: 120px;
    z-index: 1;
    opacity: 0;
}

.hamburger-menu-dropdown {
    top: 0;
    z-index: 2;
}

.hamburger-menu {
    top: 63px;
}

.hamburger:hover {
    cursor: pointer;
}

#hamburger-menu:target {
    opacity: 1; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#hamburger-menu-dropdown:target {
    opacity: 1; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}

.hamburger-menu a {
    float: none;
    display: block;
    color: #181818;
    text-decoration: none;
    text-align: right;
    font-size: 25px;
    font-weight: lighter;
    width: 100vw;
    padding: 0.2em;
}

.hamburger-menu li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.2em;
    border-bottom: 1px solid #D0D0D0;
}

.menu-link {
    color: white;
    background-color: black;
}

.mobile-menu-icons {
    padding: 0;
}

.mobile-menu-icons li {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.mobile-menu-icons p {
    padding-left: 0.5em;
    font-size: 14px;;
}

.company-logo {
    width: 7em; 
    height: 4em;
    margin: 0 0.7em;
}

.mobile-icons {
    visibility: visible;
}

.mobile-icons i {
    padding: 0 0.7em 0 0.5em;
}

ul {
    list-style-type: none;
    margin: 0;
}

.menu-dropdown {
    width: 100%;
    height: 70vh;
    background-color: #F4F4F4;
    margin: 0;
    padding: 0;
    pointer-events: auto;
    position: absolute;
    left: 0;
    top: 105px;
    z-index: 1;
    opacity: 0;
}

.search-field {
    justify-content: flex-end;
    margin: auto 1.2em;
    font-family: 'Public Sans', sans-serif;
    font-weight: 100;
}

.search-field i {
    margin: 0 0.5em;
}

.hero-section, .main-content {
    margin: auto 1em;
}

.hero-section {
    display: flex;
    flex-direction: column;
    background-image: url("lincoln-electric-background.png");
    background-size: 100%;
    color: white;
    margin: 0;
    padding: 0.7em;
}

.welding-header, .welding-paragraph {
    margin: 0.2em;
}

.welding-header {
    font-size: 33px;
}

.welding-paragraph {
    color: #D0D0D0;
    font-family: 'Public Sans', sans-serif;
    font-size: 15px;
}

.upper-sub-link {
    padding: 0.7em 0 0 0;
}

.intro-text {
    color: #666666;
    font-weight: 600;
    font-size: 14px;

}

.tech-paragraph {
    color: #666666;
    font-family: 'Public Sans', sans-serif;
}

.lower-sub-link {
    color: #B81830;
    font-weight: 600;
    font-size: 16px;
}

.bottom-image {
    width: 90vw;
    margin: 1em;
    border-radius: 4px;
}

@media screen and (min-width: 900px) {

.top-line-nav, .navbar, .search-field {
    display: flex;
}

.navbar {
    margin-right: 21em;
}

.top-line-nav {
    color: white;
    background-color: black;
    margin: 0;
    min-height: 2em;
}

.top-line-nav, .shield, .help, .location, .search-field, .navbar {
    visibility: visible;
}

.hero-section, .main-content {
    visibility: hidden;
    background-color: #d0d0d0;
}

.hamburger, .mobile-icons, .hamburger-menu {
    display: none;
}

.navbar {
    visibility: visible;
    margin-bottom: 0;
}

.navbar li {
    float: left;
    padding: 1.5em 1em;
}

.menu {
    position: relative;
    display: inline-block;
    z-index: 1;
    margin: 0;
    padding: 0;
    outline: 0;
    text-align: left;
}

.menu:hover {
    cursor: pointer;
}

.menu:focus {
    pointer-events: none;
    color: #B81830;
    border-bottom: 3px solid #B81830;
    padding-bottom: 1.4em;
}

.menu:focus .menu-dropdown {
    opacity: 1; 
    visibility: visible;
    position: fixed;
    border-bottom: 100px solid #404040;
}

.menu-dropdown a {
    float: none;
    display: block;
    color: black;
    text-decoration: none;
    text-align: left;
    width: 100vw;
}

.menu-dropdown li {
    padding: 1em 2.5em;
}

}