@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Public+Sans:wght@400;700&display=swap');

body {
    margin: 0;
}

main {
    position: relative;
    min-height: 120vh;
}

.top-line-nav {
    color: white;
    background-color: black;
    margin: 0;
    min-height: 2em;
}

.flag-icon, .english-abbr {
    display: inline;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}

.flag-icon {
    margin: 15px 0 10px 15px;
    padding: 0.8em 0;
    width: 40px;
}

.english-abbr {
    margin: 0;
}

.icons {
    display: flex;
    height: 32px;
    align-items: center;
    float: right;
}

.icons span {
    padding: 0 0.5em;
}

.cart {
    background-color: #B81830;
    height: 100%;
    padding: 0 0.2em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 35px;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    border: 2px;
    box-shadow: 0px 3px 3px lightgray;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.hamburger {
    margin: auto 0.5em;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger:focus {
    pointer-events: auto;
}

.hamburger:focus .navbar {
    opacity: 1; 
    visibility: visible;
}

.company-logo {
    width: 7em; 
    height: 4em;
    margin: auto 0.5em;
}

ul {
    display: none;
    list-style-type: none;
}

.menu-dropdown {
    width: 100%;
    min-height: 80%;
    background-color: white;
    margin: 0;
    padding: 0;
    pointer-events: auto;
    left: 0;
    top: 125px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}

.search {
    margin-left: 22em;
    font-weight: 400;
}

.search i {
    margin: auto 0.3em;
}

.hero-section, .main-content {
    margin: auto 1em;
}

.hero-section {
    background: url("lincoln-electric-background.png");
    background-size: 100%;
    color: white;
    margin: 0;
    padding: 0.7em;
}

.upper-sub-link {
    padding: 0.7em 0 0 0;
}

.intro-text {
    color: #666666;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;

}

.lower-sub-link {
    color: #B81830;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.bottom-image {
    width: 90vw;
    margin: 1em;
    border-radius: 4px;
}

@media screen and (min-width: 700px) {

.hamburger {
    display: none;
}

.navbar {
    display: inline;
    margin-bottom: 0;
}

.navbar li {
    float: left;
    padding: 0 1em;
}

.menu {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    outline: 0;
    text-align: left;
}

.menu:hover {
    cursor: pointer;
}

.menu:focus {
    pointer-events: none;
    color: #B81830;
    border-bottom: solid #B81830;
    padding-bottom: 31px;
}

.menu:focus .menu-dropdown {
    opacity: 1; 
    visibility: visible;
    position: absolute;
}

.menu-dropdown a {
    float: none;
    display: block;
    color: black;
    text-decoration: none;
    text-align: left;
    padding: 0.2em;
}

}